*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  cursor: default;
}

.container {
  margin: 32px 40px;
}

h1 {
  font-size: 16px;
  margin: 0 0 32px 0;
}

ol {
  /*border: 1px solid blue;*/
  padding: 0;
  margin: 0;
}

li {
  display: none;
}

li:before {
  content: '•';
  padding-right: 22px;
}

li:first-child {
  display: block;
}

.btn {
  display: block;
  font-size: 16px;
  line-height: 1.625;
  border: none;
  color: blue;
  background: transparent;
  margin: 0;
  margin-left: 32px;
  padding: 0;
  cursor: pointer;
}

.btn.active {
  display: none;
}






