*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: -0.2px;
	word-break: keep-all;
	background-color: rgba(0, 0, 0, 0.1);
}

a {
	color: black;
	text-decoration: none;
}

.container {
	width: 900px;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column-reverse;
}

.video {
	display: flex;
}

.video:nth-child(1), 
.video:nth-child(4), 
.video:nth-child(7), 
.video:nth-child(10),
.video:nth-child(13),
.video:nth-child(16),
.video:nth-child(19) {
	justify-content: flex-end;
}

.video:nth-child(2), 
.video:nth-child(5), 
.video:nth-child(8), 
.video:nth-child(11),
.video:nth-child(14),
.video:nth-child(17),
.video:nth-child(20) {
	justify-content: flex-start;
}

.video:nth-child(3), 
.video:nth-child(6), 
.video:nth-child(9), 
.video:nth-child(12),
.video:nth-child(15),
.video:nth-child(18),
.video:nth-child(21) {
	justify-content: center;
}

.video-body-1 {
	background-color: black;
	width: 800px;
	height: 100px;
	padding: 8px;
	padding-left: 50px;
	border-radius: 12px;
	z-index: 1;
}

.video-body-2 {
	background-color: white;
	width: 600px;
	height: 84px;
	display: flex;
	align-items: center;
	padding: 0 24px;
	border-radius: 12px;
	z-index: 2;
}

.video:hover .video-body-2 {
	color: red;
}

