body {
  font-family: "Times New Roman", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.615;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 20px 30px;
}

li {
  display: inline-block;
  margin-right: 5px;
}

.list,
.wiki {
  width: 50%;
  height: 100vh;
}

.list {
  overflow-y: auto;

}

.list a {
  text-decoration: none;
  color: black;
}

.list a:hover {
  opacity: .5;
}

.wiki {
  border-left: 1px solid black;;
}

.wiki iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .list,
  .wiki {
    width: 100%;
    height: 50vh;
  }

  .wiki {
    border-left: none;
    border-top: 1px solid black;;
  }

  .wiki iframe {
    width: 100%;
    height: 100%;
    background-color: white;
  }
}